﻿@model GetPostGridViewResponseModel

<div class="posts-centered-container">
    <div class="posts-inner-centered-container">
        <div class="posts-header-container">
            <div class="nk-pagination nk-pagination-left">
                <form  id="post-date-contains-form">
                    <input type="text" class="form-control search-by-content-input" id="post-date-contains-input" name="searchPostByContent" placeholder="Search By Content">
                </form>
               
            </div>
            <div class="post-date-sort-container">
                <h6 class="sort-by-date-heading">Sort by Date:</h6>
                <select name="searchPostByContent" class="form-control required" id="post-date-sort-select">
                    <option value="null">None</option>
                    <option value="1">Ascending</option>
                    <option value="0">Descending</option>
                </select>             
            </div>
        </div>
        <div class="nk-gap"></div>
        <div class="posts-header-container">
            <div class="nk-pagination nk-pagination-left">
                <a href="#" id="top-posts-grid-first-page-button" class="posts-grid-fist-page-button nk-pagination-prev disabled">
                    <span class="nk-icon-arrow-left"></span>
                </a>
                <nav id="top-posts-grid-pages-container" class="posts-grid-pages-container">
                </nav>
                <a href="#" button id="top-posts-grid-last-page-button" class="posts-grid-last-page-button nk-pagination-next">
                    <span class="nk-icon-arrow-right"></span>
                </a>
            </div>
            <h2 class="forum-posts-heading">Posts</h2>
            <div class="new-post-button-container">
                <button class="new-post-button nk-btn nk-btn-lg link-effect-4" data-toggle="modal" data-target="#create-post-modal">New Post</button>
            </div>
        </div>
        <div class="posts-ag-grid-container-row">

            <div id="posts-ag-grid" class="nk-forum container" data-thread-id="@Model.ThreadId">
            </div>

        </div>
        <div class="posts-grid-bottom-actions-outer-container">
            <div class="nk-pagination nk-pagination-left">
                <a href="#" id="bottom-posts-grid-first-page-button" class="posts-grid-fist-page-button nk-pagination-prev disabled">
                    <span class="nk-icon-arrow-left"></span>
                </a>
                <nav id="bottom-posts-grid-pages-container" class="posts-grid-pages-container">
                </nav>
                <a href="#" button id="bottom-posts-grid-last-page-button" class="posts-grid-last-page-button nk-pagination-next">
                    <span class="nk-icon-arrow-right"></span>
                </a>
            </div>
            <div class="new-post-button-container">
                <button class="new-post-button nk-btn nk-btn-lg link-effect-4" data-toggle="modal" data-target="#create-post-modal">New Post</button>
            </div>
        </div>
    </div>
</div>

<div id="create-post-modal" class="modal nk-modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog custom-modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <input type="text" class="form-control required" id="create-post-title-input" name="postTitle" placeholder="Post Title *">
                @*<h4 class="modal-title nk-title" id="myModalLabel">New Post</h4>*@
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="ion-android-close"></span>
                </button>
            </div>
            <div class="modal-body">
                <form id="create-new-post-form" class="nk-form nk-form-ajax">

                    <textarea class="form-control required" name="content" id="new-post-tinyMce"></textarea>

                    <div class="nk-gap"></div>
                    <div class="nk-form-response-success"></div>
                    <div class="nk-form-response-error"></div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="nk-btn" data-dismiss="modal">Close</button>
                <button type="button" id="create-new-post-button" class="nk-btn nk-btn-color-main-1">Create Post</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<div id="create-post-comment-modal" class="modal nk-modal fade" tabindex="-1" role="dialog" aria-labelledby="myCommentLabel" aria-hidden="true">
    <div class="modal-dialog custom-modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title nk-title" id="myCommentLabel">New Comment</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="ion-android-close"></span>
                </button>
            </div>
            <div class="modal-body">
                <form id="create-new-post-comment-form" class="nk-form nk-form-ajax">
                    <textarea class="form-control required" name="content" id="new-post-comment-textarea"></textarea>
                    <input type="hidden" id="create-post-comment-post-id" /> 
                    <div class="nk-gap"></div>
                    <div class="nk-form-response-success"></div>
                    <div class="nk-form-response-error"></div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="nk-btn" data-dismiss="modal">Close</button>
                <button type="button" id="create-new-post-comment-button" class="nk-btn nk-btn-color-main-1">Add Comment</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<div id="edit-post-modal" class="modal nk-modal fade" tabindex="-1" role="dialog" aria-labelledby="myEditPostModal" aria-hidden="true">
    <div class="modal-dialog custom-modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title nk-title" id="myEditPostModal">Edit Post</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="ion-android-close"></span>
                </button>
            </div>
            <div class="modal-body">
                <form id="edit-post-form" class="nk-form nk-form-ajax">
                    <input type="text" class="form-control required" id="edit-post-title-input" name="postTitle" placeholder="Post Title *">
                    <textarea class="form-control required" name="content" id="edit-post-tinyMce"></textarea>
                    <input type="hidden" id="edit-post-id-input" />
                    <div class="nk-gap"></div>
                    <div class="nk-form-response-success"></div>
                    <div class="nk-form-response-error"></div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="nk-btn" data-dismiss="modal">Close</button>
                <button type="button" id="update-post-button" class="nk-btn nk-btn-color-main-1">Edit Post</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>