﻿@model GetPostGridViewResponseModel

<partial name="../Shared/_HeaderTitleParalax.cshtml" />

<div class="container">
    <partial name="_PostsGridTable.cshtml" , model="Model" />
</div>

@section scripts {
    <script src="/js/tinyMceCustom.js"></script>
    <script src="/js/postsAgGrid.js"></script>
}