﻿<partial name="../Shared/_HeaderTitleParalax.cshtml" />

<div class="unauthorized-error centered-error centered-error-vert">
    <div class="display-1">Error: </div>
    <div class="display-1">Unauthorized</div>
</div>