﻿@model GetThreadsGridViewByIdResponseModel

<div class="centered-container">
    <div class="inner-centered-container">
        <div class="threads-header-container">
            <div class="nk-pagination nk-pagination-left">
                <a href="#" id="top-threads-grid-first-page-button" class="threads-grid-fist-page-button nk-pagination-prev disabled">
                    <span class="nk-icon-arrow-left"></span>
                </a>
                <nav id="top-threads-grid-pages-container" class="threads-grid-pages-container">
                </nav>
                <a href="#" button id="top-threads-grid-last-page-button" class="threads-grid-last-page-button nk-pagination-next">
                    <span class="nk-icon-arrow-right"></span>
                </a>
            </div>
            <h2 class="forum-threads-heading">threads</h2>
            <div class="new-thread-button-container">
                <button class="new-thread-button nk-btn nk-btn-lg link-effect-4" data-toggle="modal" data-target="#create-thread-modal">New thread</button>
            </div>
        </div>
        <div class="threads-ag-grid-container-row threads-ag-grid-container-col">
            <div id="threads-ag-grid" class="nk-forum container" style="width: 900px;" data-category-id="@Model.CategoryId"></div>
        </div>
        <div class="threads-grid-bottom-actions-outer-container">
            <div class="nk-pagination nk-pagination-left">
                <a href="#" id="bottom-threads-grid-first-page-button" class="threads-grid-fist-page-button nk-pagination-prev disabled">
                    <span class="nk-icon-arrow-left"></span>
                </a>
                <nav id="bottom-threads-grid-pages-container" class="threads-grid-pages-container">
                </nav>
                <a href="#" button id="bottom-threads-grid-last-page-button" class="threads-grid-last-page-button nk-pagination-next">
                    <span class="nk-icon-arrow-right"></span>
                </a>
            </div>
            <div class="new-thread-button-container">
                <button class="new-thread-button nk-btn nk-btn-lg link-effect-4" data-toggle="modal" data-target="#create-thread-modal">New thread</button>
            </div>
        </div>
    </div>
</div>

<div id="create-thread-modal" class="modal nk-modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog custom-modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title nk-title" id="myModalLabel">New thread</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="ion-android-close"></span>
                </button>
            </div>
            <div class="modal-body">
                <form id="create-new-thread-form" class="nk-form nk-form-ajax">
                    <input type="text" class="form-control required" name="threadName" placeholder="thread Name *">
                    <div class="nk-gap"></div>                 
                    <div class="nk-form-response-success"></div>
                    <div class="nk-form-response-error"></div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="nk-btn" data-dismiss="modal">Close</button>
                <button type="button" id="create-new-thread-button" class="nk-btn nk-btn-color-main-1">Create thread</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<div id="edit-thread-modal" class="modal nk-modal fade" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog custom-modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title nk-title" id="editModalLabel">Edit Thread</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="ion-android-close"></span>
                </button>
            </div>
            <div class="modal-body">
                <form id="edit-thread-form" class="nk-form nk-form-ajax">
                    <input type="text" class="form-control required" id="edit-thread-name-input" name="threadName" placeholder="Thread Name *">
                    <div class="nk-gap"></div>
                    <input type="hidden" id="edit-thread-id-input" />
                    <div class="nk-gap"></div>
                    <div class="nk-form-response-success"></div>
                    <div class="nk-form-response-error"></div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="nk-btn" data-dismiss="modal">Close</button>
                <button type="button" id="update-thread-button" class="nk-btn nk-btn-color-main-1">Edit Thread</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>