﻿@model GetThreadsGridViewByIdResponseModel

<partial name="../Shared/_HeaderTitleParalax.cshtml" />

<div class="container">
    <partial name="_ThreadsGridTable.cshtml" model="Model" />
</div>

@section scripts {
    <script src="/js/threadsAgGrid.js"></script>
}