﻿<div class="centered-container">
    <div class="inner-centered-container">
        <div class="categories-header-container">
            <div class="nk-pagination nk-pagination-left">
                <a href="#" id="top-categories-grid-first-page-button" class="categories-grid-fist-page-button nk-pagination-prev disabled">
                    <span class="nk-icon-arrow-left"></span>
                </a>
                <nav id="top-categories-grid-pages-container" class="categories-grid-pages-container">
                </nav>
                <a href="#" button id="top-categories-grid-last-page-button" class="categories-grid-last-page-button nk-pagination-next">
                    <span class="nk-icon-arrow-right"></span>
                </a>
            </div>
            <h2 class="forum-categories-heading">Categories</h2>
            <div class="new-category-button-container">
                <button class="new-category-button nk-btn nk-btn-lg link-effect-4" data-toggle="modal" data-target="#create-category-modal">New Category</button>
            </div>
        </div>
        <div class="categories-ag-grid-container-row categories-ag-grid-container-col">
            <div id="categories-ag-grid" class="nk-forum container" style="width: 900px;"></div>
        </div>
        <div class="categories-grid-bottom-actions-outer-container">
            <div class="nk-pagination nk-pagination-left">
                <a href="#" id="bottom-categories-grid-first-page-button" class="categories-grid-fist-page-button nk-pagination-prev disabled">
                    <span class="nk-icon-arrow-left"></span>
                </a>
                <nav id="bottom-categories-grid-pages-container" class="categories-grid-pages-container">
                </nav>
                <a href="#" button id="bottom-categories-grid-last-page-button" class="categories-grid-last-page-button nk-pagination-next">
                    <span class="nk-icon-arrow-right"></span>
                </a>
            </div>
            <div class="new-category-button-container">
                <button class="new-category-button nk-btn nk-btn-lg link-effect-4" data-toggle="modal" data-target="#create-category-modal">New Category</button>
            </div>
        </div>
    </div>
</div>

<div id="create-category-modal" class="modal nk-modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog custom-modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title nk-title" id="myModalLabel">New Category</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="ion-android-close"></span>
                </button>
            </div>
            <div class="modal-body">
                <form id="create-new-category-form" class="nk-form nk-form-ajax">
                    <input type="text" class="form-control required" name="categoryName" placeholder="Category Name *">
                    <div class="nk-gap"></div>
                    <input type="text" class="form-control required" name="categoryDescription" placeholder="Category Description *">
                    <div class="nk-gap"></div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" name="isNsfw" id="category-grid-nsfw-checkbox">
                        <label class="custom-control-label" for="category-grid-nsfw-checkbox">Should this category be marked as NSFW?</label>
                    </div>
                    <div class="nk-gap"></div>
                    <div class="nk-form-response-success"></div>
                    <div class="nk-form-response-error"></div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="nk-btn" data-dismiss="modal">Close</button>
                <button type="button" id="create-new-category-button" class="nk-btn nk-btn-color-main-1">Create Category</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<div id="edit-category-modal" class="modal nk-modal fade" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog custom-modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title nk-title" id="editModalLabel">Edit Category</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="ion-android-close"></span>
                </button>
            </div>
            <div class="modal-body">
                <form id="edit-category-form" class="nk-form nk-form-ajax">
                    <input type="text" class="form-control required" id="edit-category-name-input" name="categoryName" placeholder="Category Name *">
                    <div class="nk-gap"></div>
                    <input type="text" class="form-control required" id="edit-category-description-input" name="categoryDescription" placeholder="Category Description *">
                    <div class="nk-gap"></div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="edit-category-isnsfw-checkbox" name="isNsfw">
                        <label class="custom-control-label" for="edit-category-isnsfw-checkbox">Should this category be marked as NSFW?</label>
                    </div>
                    <input type="hidden" id="edit-category-id-input"  />
                    <div class="nk-gap"></div>
                    <div class="nk-form-response-success"></div>
                    <div class="nk-form-response-error"></div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="nk-btn" data-dismiss="modal">Close</button>
                <button type="button" id="update-category-button" class="nk-btn nk-btn-color-main-1">Edit Category</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>