﻿<partial name="../Shared/_HeaderTitleParalax.cshtml" />

<div class="container">
    <partial name="_CategoriesGridTable.cshtml" />
</div>

@section scripts {
    <script src="/js/categoriesAgGrid.js"></script>
}