﻿<div class="nk-header-title nk-header-title-sm nk-header-title-parallax nk-header-title-parallax-opacity">
    <div class="bg-image">
        <img src="/images/image-1.jpg" alt="" class="jarallax-img">
    </div>
    <div class="nk-header-table">
        <div class="nk-header-table-cell">
            <div class="container">
                <h1 class="nk-title">Gamers Insight</h1>
            </div>
        </div>
    </div>
    <div class="nk-header-text-bottom">
        <div class="nk-breadcrumbs text-center">
            <ul>
                <li><a asp-action="Home" asp-controller="Index">Home</a></li>
                <li><a asp-action="Category" asp-controller="GetCategoriesGridView">Forum</a></li>
            </ul>
        </div>
    </div>
</div>

