﻿<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="_nK">
    <title>@ViewData["Title"] - GamersInsight</title>
    <link rel="icon" type="image/png" href="/images/favicon.png">
    <!-- START: Styles -->
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300i,400,400i,700%7cMarcellus+SC" rel="stylesheet">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">
    <!-- FontAwesome -->
    <script defer src="/vendor/fontawesome-free/js/all.js"></script>
    <!-- IonIcons -->
    <link rel="stylesheet" href="/vendor/ionicons/css/ionicons.min.css">
    <!-- Revolution Slider -->
    <link rel="stylesheet" href="/vendor/revolution/css/settings.css">
    <link rel="stylesheet" href="/vendor/revolution/css/layers.css">
    <link rel="stylesheet" href="/vendor/revolution/css/navigation.css">
    <!-- Flickity -->
    <link rel="stylesheet" href="/vendor/flickity/dist/flickity.min.css">
    <!-- Photoswipe -->
    <link rel="stylesheet" href="/vendor/photoswipe/dist/photoswipe.css">
    <link rel="stylesheet" href="/vendor/photoswipe/dist/default-skin/default-skin.css">
    <!-- DateTimePicker -->
    <link rel="stylesheet" href="/vendor/jquery-datetimepicker/build/jquery.datetimepicker.min.css">
    <!-- Summernote -->
    <link rel="stylesheet" href="/vendor/summernote/dist/summernote-bs4.css">
    <!-- GODLIKE -->
    <link rel="stylesheet" href="/css/godlike.css">
    <!-- Custom Styles -->
    <link rel="stylesheet" href="/css/custom.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/ag-grid-community/dist/styles/ag-grid.css">
    <link rel="stylesheet" href="https://unpkg.com/ag-grid-community/dist/styles/ag-theme-alpine-dark.css">

    <!-- END: Styles -->
    <!-- jQuery -->
    <script src="/vendor/jquery/dist/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@@sweetalert2/themes@5.0.8/dark/dark.min.css">
    <script src="/js/cropper.js"></script>
</head>
<!--
    Additional Classes:
        .nk-page-boxed
-->
<body>
    <!-- START: Page Preloader -->
    <div class="nk-preloader">
        <!--
             Preloader animation
             data-close-... data used for closing preloader
             data-open-...  data used for opening preloader
        -->
        <div class="nk-preloader-bg" style="background-color: #000;" data-close-frames="23" data-close-speed="1.2" data-close-sprites="images/preloader-bg.png" data-open-frames="23" data-open-speed="1.2" data-open-sprites="images/preloader-bg-bw.png">
        </div>
        <div class="nk-preloader-content">
            <div>
                <img class="nk-img" src="/images/logo-gi-final.png" width="280">
                <div class="nk-preloader-animation"></div>
            </div>
        </div>
        <div class="nk-preloader-skip">Skip</div>
    </div>
    <!-- END: Page Preloader -->
    <!--
        START: Page Video Background

        Additional Attributes:
            data-video - Youtube/Vimeo/self-hosted video urls.
                self-hosted video example:
                data-video="mp4:./video/local-video.mp4,webm:./video/local-video.webm,ogv:./video/local-video.ogv"
            data-video-loop - loop video (true/false)
            data-video-mute - mute video music (true/false)
            data-video-volume - volume of video music (0-100)
            data-video-start-time - video start time in seconds
            data-video-end-time - video end time in seconds
            data-video-pause-on-page-leave - pause video when the page not in focus (true/false)
    -->
    <div class="nk-page-background op-5" data-video="http://youtu.be/UkeDo1LhUqQ" data-video-loop="true" data-video-mute="true" data-video-volume="0" data-video-start-time="0" data-video-end-time="0" data-video-pause-on-page-leave="true" style="background-image: url('images/page-background.jpg');"></div>
    <!-- END: Page Background -->
    <!--
        START: Page Audio Background

        Additional Attributes:
            data-audio - URL to audio file
            data-audio-volume - audio volume (0-100)
            data-audio-autoplay - autoplay audio (true/false)
            data-audio-loop - loop audio (true/false)
            data-audio-pause-on-page-leave - pause video when the page not in focus (true/false)
    -->
    <div class="nk-page-background-audio d-none" data-audio="/mp3/purpleplanetmusic-desolation.mp3" data-audio-volume="100" data-audio-autoplay="true" data-audio-loop="true" data-audio-pause-on-page-leave="true"></div>
    <!-- END: Page Background -->
    <!-- START: Page Border -->
    <div class="nk-page-border">
        <div class="nk-page-border-t"></div>
        <div class="nk-page-border-r"></div>
        <div class="nk-page-border-b"></div>
        <div class="nk-page-border-l"></div>
    </div>
    <!-- END: Page Border -->
    <!--
        Additional Classes:
            .nk-header-opaque
    -->
    <header class="nk-header nk-header-opaque">
        <!--
            START: Top Contacts

            Additional Classes:
                .nk-contacts-top-light
        -->
        <!-- END: Top Contacts -->
        <!--
            START: Navbar

            Additional Classes:
                .nk-navbar-sticky
                .nk-navbar-transparent
                .nk-navbar-autohide
                .nk-navbar-light
                .nk-navbar-no-link-effect
        -->
        <nav class="nk-navbar nk-navbar-top nk-navbar-sticky nk-navbar-autohide">
            <div class="container">
                <div class="nk-nav-table">
                    <a asp-controller="Home" asp-action="Index" class="nk-nav-logo">
                        <img class="custom-logo" src="/images/logo-gi-final.png" alt="">
                    </a>
                    <ul class="nk-nav nk-nav-right d-none d-lg-block" data-nav-mobile="#nk-nav-mobile">
                        <li class="nk-drop-item">
                            <a asp-controller="Home" asp-action="Index"> Home </a>
                        </li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nk-drop-item">
                                <a asp-controller="Category" asp-action="GetCategoriesGridView"> Forum </a>
                            </li>
                        }

                        <li class="nk-drop-item">
                            <a asp-controller="Home" asp-action="About"> About us </a>
                        </li>

                    </ul>
                    <ul class="nk-nav nk-nav-right nk-nav-icons">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nk-drop-item">
                                <a href="#"> Hello, @User.Claims.FirstOrDefault(p => p.Type == ClaimTypes.Name).Value</a>
                                <ul class="dropdown">
                                    <li class="">
                                        <a asp-controller="User" asp-action="Settings">Settings</a>
                                    </li>
                                    <li class="">
                                        <a href="#" id="logout-button-global">Logout</a>
                                    </li>
                                </ul>
                            </li>
                        }
                        else
                        {
                            <li class="single-icon nk-drop-item">
                                <a href="#" class="nk-sign-toggle no-link-effect">
                                    Sign in
                                    <span class="nk-icon-toggle">
                                        <span class="nk-icon-toggle-front">
                                            <span class="fa fa-sign-in-alt"></span>
                                        </span>
                                        <span class="nk-icon-toggle-back">
                                            <span class="nk-icon-close"></span>
                                        </span>
                                    </span>

                                </a>
                            </li>
                        }

                        <li class="single-icon">
                            <a href="#" class="no-link-effect" data-nav-toggle="#nk-side">
                                <span class="nk-icon-burger">
                                    <span class="nk-t-1"></span>
                                    <span class="nk-t-2"></span>
                                    <span class="nk-t-3"></span>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- END: Navbar -->
    </header>
    <!--
        START: Right Navbar

        Additional Classes:
            .nk-navbar-right-side
            .nk-navbar-left-side
            .nk-navbar-lg
            .nk-navbar-align-center
            .nk-navbar-align-right
            .nk-navbar-overlay-content
            .nk-navbar-light
            .nk-navbar-no-link-effect
    -->
    <nav class="nk-navbar nk-navbar-side nk-navbar-right-side nk-navbar-lg nk-navbar-align-center nk-navbar-overlay-content" id="nk-side">
        <div class="nk-navbar-bg">
            <div class="bg-image">
                <img src="/images/bg-nav-side.jpg" alt="" class="jarallax-img">
            </div>
        </div>
        <div class="nano">
            <div class="nano-content">
                <div class="nk-nav-table">
                    <div class="nk-nav-row">
                        <a asp-controller="Home" asp-action="Index" class="nk-nav-logo">
                            <img class="custom-logo" src="/images/logo-gi-final.png" alt="">
                        </a>
                    </div>
                    <div class="nk-nav-row nk-nav-row-full nk-nav-row-center">
                        <ul class="nk-nav">
                            <li class=" ">
                                <a asp-controller="Home" asp-action="About">Click to learn more about us</a>
                            </li>
                            <br />
                            <li class=" ">
                                <p>
                                    <a href="https://www.linkedin.com/in/anton-staykov-621669195/">Anton Staykov:</a> <br />
                                    anton.staykovv@gmail.com<br />
                                    +359 886 653 230
                                </p>
                            </li>
                            <li class=" ">
                                <p>
                                    <a href="https://www.linkedin.com/in/krasen-valkov-85012b141/">Krasen Valkov:</a> <br />
                                    krasen.valkov.bg@gmail.com<br />
                                    +359 895 840 004
                                </p>
                            </li>
                        </ul>
                    </div>
                    <div class="nk-nav-row">
                        <div class="nk-nav-footer">Made by: Team l33tc0d3rs</div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <!-- END: Right Navbar -->
    <!--
        START: Navbar Mobile

        Additional Classes:
            .nk-navbar-left-side
            .nk-navbar-right-side
            .nk-navbar-lg
            .nk-navbar-overlay-content
            .nk-navbar-light
            .nk-navbar-no-link-effect
    -->
    <div id="nk-nav-mobile" class="nk-navbar nk-navbar-side nk-navbar-left-side nk-navbar-overlay-content d-lg-none">
        <div class="nano">
            <div class="nano-content">
                <a asp-controller="Home" asp-action="Index" class="nk-nav-logo">
                    <img src="/images/logo-gi-final.png" alt="" width="90">
                </a>
                <div class="nk-navbar-mobile-content">
                    <ul class="nk-nav">
                        <!-- Here will be inserted menu from [data-mobile-menu="#nk-nav-mobile"] -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- END: Navbar Mobile -->
    <div class="nk-main">
        @RenderBody()
        <!-- START: Footer -->
        <!--
        Additional Classes:
            .nk-footer-parallax
            .nk-footer-parallax-opacity
        -->

        <div class="nk-gap-4"></div>
        <div class="nk-gap-4"></div>
        <footer class="nk-footer nk-footer-parallax nk-footer-parallax-opacity">
            <img class="nk-footer-top-corner" src="/images/footer-corner.png" alt="">
            <div class="container">
                <div class="nk-gap-4"></div>
                <div class="nk-gap-4"></div>
                <div class="nk-gap-4"></div>
            </div>
        </footer>
        <!-- END: Footer -->
    </div>
    <!--
        START: Side Buttons
            .nk-side-buttons-visible
    -->
    <div class="nk-side-buttons nk-side-buttons-visible">
        <ul>
            <li>
                <a href="https://gitlab.com/l33tc0d3rs/gamersinsight" target="_blank" class="nk-btn nk-btn-lg link-effect-4">Keep in Touch</a>
            </li>
            <li>
                <span class="nk-btn nk-btn-lg nk-btn-icon nk-bg-audio-toggle">
                    <span class="icon">
                        <span class="ion-android-volume-up nk-bg-audio-pause-icon"></span>
                        <span class="ion-android-volume-off nk-bg-audio-play-icon"></span>
                    </span>
                </span>
            </li>
            <li class="nk-scroll-top">
                <span class="nk-btn nk-btn-lg nk-btn-icon">
                    <span class="icon ion-ios-arrow-up"></span>
                </span>
            </li>
        </ul>
    </div>
    <!-- END: Side Buttons -->
    <!--
        START: Search

        Additional Classes:
            .nk-search-light
    -->
    <div class="nk-search">
        <div class="container">
            <form action="#">
                <fieldset class="form-group nk-search-field">
                    <input type="text" class="form-control" id="searchInput" placeholder="Search..." name="s">
                    <label for="searchInput"><i class="ion-ios-search"></i></label>
                </fieldset>
            </form>
        </div>
    </div>
    <div class="nk-sign-form">
        <div class="nk-gap-5"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 offset-lg-4 col-md-6 offset-md-3">
                    <div class="nk-sign-form-container">
                        <div class="nk-sign-form-toggle h3">
                            <a href="#" class="nk-sign-form-login-toggle active">Log In</a>
                            <a href="#" class="nk-sign-form-register-toggle">Register</a>
                        </div>
                        <div class="nk-gap-2"></div>
                        <!-- START: Login Form -->
                        <form class="nk-sign-form-login active" id="user-login-form">
                            <input class="form-control" type="text" name="UserName" placeholder="Username" value="Johnny">
                            <div class="nk-gap-2"></div>
                            <input class="form-control" type="password" name="Password" placeholder="Password" value="12345">
                            <div class="nk-gap-2"></div>
                            <div class="form-check float-left">
                            </div>
                            <button class="nk-btn nk-btn-color-white link-effect-4 float-right" id="user-login-button">Log In</button>
                            <div class="clearfix"></div>
                            <div class="nk-gap-1"></div>
                        </form>
                        <!-- END: Login Form -->
                        <!-- START: Register Form -->
                        <form class="nk-sign-form-register" id="user-register-form">
                            <input class="form-control" type="text" name="UserName" placeholder="Username">
                            <div class="nk-gap-2"></div>
                            <input class="form-control" type="text" name="DisplayName" placeholder="DisplayName">
                            <div class="nk-gap-2"></div>
                            <input class="form-control" type="password" name="Password" placeholder="Password">
                            <div class="nk-gap-2"></div>
                            <input class="form-control" type="email" name="Email" placeholder="Email">
                            <div class="nk-gap-2"></div>
                            <input class="form-control" type="date" name="DateOfBirth" placeholder="Date Of Birth">
                            <div class="nk-gap-2"></div>
                            <div class="float-left">A verification link will be sent to your mail.</div>
                            <button class="nk-btn nk-btn-color-white link-effect-4 float-right" id="user-register-button">Register</button>
                        </form>
                        <!-- END: Register Form -->
                    </div>
                </div>
            </div>
        </div>
        <div class="nk-gap-5"></div>
    </div>
    <!-- END: Sign Form -->
    <!-- START: Scripts -->
    <!-- Object Fit Polyfill -->
    <script src="/vendor/object-fit-images/dist/ofi.min.js"></script>
    <!-- GSAP -->
    <script src="/vendor/gsap/dist/gsap.min.js"></script>
    <script src="/vendor/gsap/dist/ScrollToPlugin.min.js"></script>
    <!-- Popper -->
    <script src="/vendor/popper.js/dist/umd/popper.min.js"></script>
    <!-- Bootstrap -->
    <script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Sticky Kit -->
    <script src="/vendor/sticky-kit/dist/sticky-kit.min.js"></script>
    <!-- Jarallax -->
    <script src="/vendor/jarallax/dist/jarallax.min.js"></script>
    <script src="/vendor/jarallax/dist/jarallax-video.min.js"></script>
    <!-- imagesLoaded -->
    <script src="/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <!-- Flickity -->
    <script src="/vendor/flickity/dist/flickity.pkgd.min.js"></script>
    <!-- Isotope -->
    <script src="/vendor/isotope-layout/dist/isotope.pkgd.min.js"></script>
    <!-- Photoswipe -->
    <script src="/vendor/photoswipe/dist/photoswipe.min.js"></script>
    <script src="/vendor/photoswipe/dist/photoswipe-ui-default.min.js"></script>
    <!-- Typed.js -->
    <script src="/vendor/typed.js/lib/typed.min.js"></script>
    <!-- Jquery Validation -->
    <script src="/vendor/jquery-validation/dist/jquery.validate.min.js"></script>
    <!-- Jquery Countdown + Moment -->
    <script src="/vendor/jquery-countdown/dist/jquery.countdown.min.js"></script>
    <script src="/shortvendor/moment.min.js"></script>
    <script src="/vendor/moment-timezone/builds/moment-timezone-with-data.min.js"></script>
    <!-- Hammer.js -->
    <script src="/vendor/hammerjs/hammer.min.js"></script>
    <!-- NanoSroller -->
    <script src="/jquery.nanoscroller.js"></script>
    <!-- SoundManager2 -->
    <script src="/vendor/soundmanager2/script/soundmanager2-nodebug-jsmin.js"></script>
    <!-- DateTimePicker -->
    <script src="/vendor/jquery-datetimepicker/build/jquery.datetimepicker.full.min.js"></script>
    <!-- Revolution Slider -->
    <script src="/vendor/revolution/js/jquery.themepunch.tools.min.js"></script>
    <script src="/vendor/revolution/js/jquery.themepunch.revolution.min.js"></script>
    <script src="/vendor/revolution/js/extensions/revolution.extension.video.min.js"></script>
    <script src="/vendor/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
    <script src="/vendor/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
    <!-- Keymaster -->
    <script src="/vendor/keymaster/keymaster.js"></script>
    <!-- Summernote -->
    <script src="/vendor/summernote/dist/summernote-bs4.min.js"></script>
    <!-- GODLIKE -->
    <script src="/js/godlike.min.js"></script>
    <script src="/js/godlike-init.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script src="/js/userAuthentication.js"></script>
    <script src="/js/generalScripts.js"></script>
    <script src="/js/globalConsts.js"></script>
    <script src="/js/drawPagination.js"></script>
    <script src="/js/paginationFunctions.js"></script>
    <script src="/js/dateTimeFunctions.js"></script>
    <script src="https://unpkg.com/ag-grid-community/dist/ag-grid-community.min.noStyle.js"></script>

    <script src="https://cdn.tiny.cloud/1/75n11wm6wuj64u5874v0hh4l6kam3xcurcuxdyfiu2jbibce/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>



    <script src="~/custom/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
    <!-- END: Scripts -->
</body>
</html>