﻿<div class="nk-gap-2 d-none d-lg-block"></div>
<div class="nk-social-menu-inline">
    <ul>
        <li class="active">
            <a href="#">All Users</a>
        </li>
    </ul>
</div>
<div class="nk-social-container managements-social-container">

    <div class="centered-container">
        <div class="inner-centered-container">
            <div class="managements-header-container">
                <div class="nk-pagination nk-pagination-left">
                    <a href="#" id="top-managements-grid-first-page-button" class="managements-grid-fist-page-button nk-pagination-prev disabled">
                        <span class="nk-icon-arrow-left"></span>
                    </a>
                    <nav id="top-managements-grid-pages-container" class="managements-grid-pages-container">
                    </nav>
                    <a href="#" button id="top-managements-grid-last-page-button" class="managements-grid-last-page-button nk-pagination-next">
                        <span class="nk-icon-arrow-right"></span>
                    </a>
                </div>
            </div>
            <div class="managements-ag-grid-container-row catemanagementsgories-ag-grid-container-col">
                <div id="managements-ag-grid" class="nk-forum container" style="width: 900px;"></div>
            </div>
            <div class="managements-grid-bottom-actions-outer-container">
                <div class="nk-pagination nk-pagination-left">
                    <a href="#" id="bottom-managements-grid-first-page-button" class="managements-grid-fist-page-button nk-pagination-prev disabled">
                        <span class="nk-icon-arrow-left"></span>
                    </a>
                    <nav id="bottom-managements-grid-pages-container" class="managements-grid-pages-container">
                    </nav>
                    <a href="#" button id="bottom-managements-grid-last-page-button" class="managements-grid-last-page-button nk-pagination-next">
                        <span class="nk-icon-arrow-right"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="nk-gap-2"></div>

