﻿@model GetUserShortInfoResponseModel

<div class="nk-social-menu-inline">
    <ul>
        <li class="active">
            <a href="#">General</a>
        </li>
    </ul>
</div>
<div class="nk-social-container">
    <!-- START: Settings -->
    <form id="user-settings-form">
        <input type="email" class="form-control" name="email" id="user-settings-updatable-email-input" placeholder="Account Email" value="@Model.Email">
        <div class="nk-gap-2"></div>
        <input type="text" class="form-control" name="displayName" id="user-settings-updatable-display-name-input" placeholder="Display Name" value="@Model.DisplayName">
        <div class="nk-gap-2"></div>
        <input type="password" class="form-control" name="currentPassword" placeholder="Current Password">
        <div class="nk-gap-2"></div>
        <input type="password" class="form-control" name="newPassword" placeholder="New Password">
        <div class="nk-gap-2"></div>
        <input type="password" class="form-control" name="repeatPassword" placeholder="Repeat Password">
        <div class="nk-gap-2"></div>
        <button class="nk-btn nk-btn-color-main-1 float-right" type="submit">Save Changes</button>
    </form>
    <!-- END: Settings -->
</div>
<div class="nk-gap-4"></div>