﻿@model GetUserSettingsResponseModel

<partial name="../Shared/_HeaderTitleParalaxNoBreadcrumbs.cshtml" />

<div class="container">
    <div class="nk-social-profile nk-social-profile-container-offset">
        <div class="row user-settings-left-top-holder">
            <div class="col-md-5 col-lg-3">
                <div class="nk-social-profile-avatar">

                    <img id="user-avatar-holder-img" src="@Model.FullAvatarUrl" alt="nK">
                    <div class="nk-gap-2"></div>
                    <button class="nk-btn link-effect-4" id="change-user-avatar-button">Change Avatar</button>
                </div>
            </div>
            <div class="col-md-7 col-lg-9">
                <div class="nk-social-profile-info">
                    <div class="nk-gap-2"></div>
                    <h1 class="nk-social-profile-info-name">@Model.DisplayName</h1>
                    <div class="nk-social-profile-info-username">@Model.UserName</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row vertical-gap">
        <div class="col-lg-3">
            <!--
                START: Sidebar

                Additional Classes:
                    .nk-sidebar-left
                    .nk-sidebar-right
                    .nk-sidebar-sticky
            -->
            <aside class="nk-sidebar nk-sidebar-left nk-sidebar-sticky">
                <div class="nk-gap-2"></div>
                <div class="nk-social-menu d-none d-lg-block">
                    <ul>
                        <li class="">
                            <a asp-controller="Category" asp-action="GetCategoriesGridView"> Forum</a>
                        </li>
                        <li class="">
                            <a href="#" id="get-management-users-side"> Forum Users</a>
                        </li>
                        <li class="">
                            <a href="#" id="get-conversations-side"> Messages</a>
                        </li>
                        <li class="">
                            <a href="#" id="get-user-settings-side"> Settings</a>
                        </li>
                    </ul>
                </div>
                <div class="nk-accordion d-lg-none" id="nk-social-menu-mobile" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="nk-social-menu-mobile-1-heading">
                            <a data-toggle="collapse" data-parent="#nk-social-menu-mobile" href="#nk-social-menu-mobile-1" aria-expanded="true" aria-controls="nk-social-menu-mobile-1" class="collapsed"> Menu </a>
                        </div>
                        <div id="nk-social-menu-mobile-1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="nk-social-menu-mobile-1-heading">
                            <div class="nk-social-menu">
                                <ul>
                                    <li class="">
                                        <a asp-controller="Category" asp-action="GetCategoriesGridView"> Forum</a>
                                    </li>
                                    <li class="">
                                        <a id="get-management-users-side"> Forum Users</a>
                                    </li>
                                    <li class="">
                                        <a id="get-conversations-side"> Messages</a>
                                    </li>
                                    <li class="active">
                                        <a id="get-user-settings-side"> Settings</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nk-gap-4 d-none d-lg-block"></div>
            </aside>
            <!-- END: Sidebar -->
        </div>
        <div class="col-lg-9 user-settings-holder" id="user-settings-right-panel-container">
            <!-- Side-Panel Holder -->
        </div>

    </div>
    <div class="nk-gap-4"></div>
    <div class="nk-gap-3"></div>
</div>

<div id="change-avatar-modal" class="modal nk-modal fade" tabindex="-1" role="dialog" aria-labelledby="changeAvatarModalLabel" aria-hidden="true">
    <div class="modal-dialog custom-modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title nk-title" id="changeAvatarModalLabel">Crop new avatar</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="ion-android-close"></span>

                </button>
            </div>
            <div class="modal-body">
                <div class="avatar-canvas-holder">
                    <canvas id="avatar-canvas" width="700" height="700">Your browser does not support canvas.</canvas>
                </div>

                <br />
                <!-- Below are a series of inputs which allow file selection and interaction with the cropper api -->
                <form id="user-avatar-form" enctype="multipart/form-data">
                    <div class="avatar-label-file-upload">
                        <label class="nk-btn nk-btn-color-dark-1 nk-btn-bg-white" for="avatar-input"> Select File</label>
                        <span id="avatar-file-name-holder" class="ml-4"></span>
                    </div>
                    <input name="avatar" accept="image/*" type="file" id="avatar-input" onchange="handleFileSelect()" />
                </form>
                <div class="nk-gap-2"></div>
                <div class="avatar-cropper-buttons-holder">
                    <button type="button" class="nk-btn nk-btn-md link-effect-1 nk-btn-color-main-2 ready" onclick="cropper.restore()">Restore Original</button>
                    <button type="button" class="nk-btn nk-btn-style-2 nk-btn-md" onclick="cropper.startCropping()">Crop this image</button>
                    <button type="button" class="nk-btn nk-btn-style-1 nk-btn-md nk-btn-color-main-1" onclick="cropper.getCroppedImageSrc()">Apply Cropping</button>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="nk-btn" data-dismiss="modal">Close</button>
                <button type="button" id="update-avatar-submit-button" class="nk-btn nk-btn-color-main-1">Upload Avatar</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<div id="create-conversation-modal" class="modal nk-modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog custom-modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title nk-title" id="myModalLabel">New Conversation</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="ion-android-close"></span>
                </button>
            </div>
            <div class="modal-body">
                <form id="create-new-conversation-form" class="nk-form nk-form-ajax">
                    <input type="text" class="form-control required" name="conversationName" placeholder="Conversation Name *">
                    <div class="nk-gap"></div>
                    <input type="text" class="form-control required" name="conversationDescription" placeholder="Conversation Description *">
                    <div class="nk-gap"></div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" name="isNsfw" id="conversation-grid-nsfw-checkbox">
                        <label class="custom-control-label" for="conversation-grid-nsfw-checkbox">Should this conversation be marked as NSFW?</label>
                    </div>
                    <div class="nk-gap"></div>
                    <div class="nk-form-response-success"></div>
                    <div class="nk-form-response-error"></div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="nk-btn" data-dismiss="modal">Close</button>
                <button type="button" id="create-new-conversation-button" class="nk-btn nk-btn-color-main-1">Create Conversation</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<div id="show-conversation-modal" class="modal nk-modal fade" tabindex="-1" role="dialog" aria-labelledby="showConversationModalLabel" aria-hidden="true">
    <div class="modal-dialog custom-modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title nk-title" id="showConversationModalLabel">Conversation Messages</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="ion-android-close"></span>
                </button>
            </div>
            <div class="modal-body">
                <partial name="../Message/_MessagesGridTable.cshtml" />
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<div id="start-new-conversation-modal" class="modal nk-modal fade" tabindex="-1" role="dialog" aria-labelledby="createConversationModalLabel" aria-hidden="true">
    <div class="modal-dialog custom-modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title nk-title" id="createConversationModalLabel">New Conversation</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="ion-android-close"></span>
                </button>
            </div>
            <div class="modal-body">
                <form id="start-new-conversation-form" class="nk-form nk-form-ajax">
                    <input type="text" class="form-control required" name="messageContent" placeholder="Message *">
                    <div class="nk-gap"></div>
                    <div class="nk-form-response-success"></div>
                    <div class="nk-form-response-error"></div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="nk-btn" data-dismiss="modal">Close</button>
                <button type="submit" id="start-new-conversation-button" class="nk-btn nk-btn-color-main-1">Start Conversation</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<div id="test"></div>

@section scripts {
    <script src="/js/managementAgGrid.js"></script>
    <script src="/js/conversationsAgGrid.js"></script>
    <script src="/js/messagesAgGrid.js"></script>
    <script src="/js/userSettings.js"></script>
}