/* GENERAL */
.swal2-container.swal2-center.swal2-backdrop-show > div {
    background: #232323;
}

/*.swal2-container.swal2-center.swal2-backdrop-show > div > div.swal2-actions > button {
    background-color: #0e0e0e;
    border: 1px solid white;    
}  
*/
.swal2-popup swal2-modal swal2-icon-error swal2-show {
    background: blue !important;
}

.swal2-title {
    color: white !important;
}

.swal2-html-container {
    color: white !important;
}

.swal2-success-circular-line-left, .swal2-success-circular-line-right, .swal2-success-fix {
    background: #232323 !important;
}

.custom-modal-dialog {
    display: flex;
}

.about-us-description {
    max-width: 400px;
    padding-top: 30px;
}

.about-us-description-right{
    margin-left: 160px;
}

.custom-logo {
    padding-top: 10px;
    width: 180px;
}

.centered-error {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 900px;
    background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
}

.centered-error-vert {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.not-found-error {
    background-image: url("/images/not-found.jpg");
}

.server-error {
    background-image: url("/images/server-error.jpg");
}

.unauthorized-error {
    background-image: url("/images/unauthorized.jpg");
}

.error-image {
    padding: 30px;
    max-width: 400px;
    max-height: 400px;
}

/* END OF GENERAL */
#categories-ag-grid {
    height: 580px;
}

.centered-container {
    display: flex;
    justify-content: center;
}


.inner-centered-container {
    padding-top: 50px;
    padding-bottom: 50px;
    width: 1140px;
}

.categories-ag-grid-container-row {
    display: flex;
    justify-content: center;
    background: #0e0e0e;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 1140px;
}


.right-flexed-items {
   text-align: end;
}

.button-container {
    display: flex;
    justify-content: center;
}

.forum-categories-heading {
    text-align: center;
}


.categiry-grid-text-info {

}

.categiry-grid-text-info-name {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 200px;
    text-decoration: none;
    color: #fff !important;
}

.category-grid-text-info-name:hover {
    color: #fff !important;
}

.category-grid-text-info-description {
    font-style: italic;   
}

.categiry-grid-activity {
}

.categiry-grid-activity-title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 200px;
}

.category-grid-activity-title-link {
    color: #fff !important;
}

.category-grid-activity-title-link:hover {
    text-decoration: none;
    color: #fff !important;
}

.category-grid-activity-date {
    font-style: italic;
}

.category-grid-activity-outer-container {
    display: flex;
    justify-content: flex-end;
}

.icon-category-grid-container {
    padding-right: 5px;
}

.categories-header-container {
    display: flex;
    justify-content: space-between;
}

.categories-grid-bottom-actions-outer-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

/* POSTS BELOW */

#posts-ag-grid {  
   
}

.posts-centered-container {
    display: flex;
    justify-content: center;
}

.posts-inner-centered-container {
    padding-top: 50px;
    padding-bottom: 50px;
    width: 1140px;
}

.posts-ag-grid-container-row {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 1140px;
}

.forum-categories-heading {
    text-align: center;
}

.posts-grid-text-info-description {
    font-style: italic;
}

.posts-grid-text-info-name {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 200px;
    text-decoration: none;
    color: #fff !important;
}

.posts-grid-text-info-name:hover {
    color: #fff !important;
}

.posts-grid-activity-title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 200px;
}

.posts-grid-activity-title-link {
    color: #fff !important;
}

.posts-grid-activity-title-link:hover {
    text-decoration: none;
    color: #fff !important;
}

.posts-grid-activity-date {
    font-style: italic;
}

.posts-grid-activity-outer-container {
    display: flex;
    justify-content: flex-end;
}

.icon-posts-grid-container {
    padding-right: 5px;
}

.posts-header-container {
    display: flex;
    justify-content: space-between;
}

.posts-grid-bottom-actions-outer-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.ag-theme-material .ag-header {
    margin-bottom: 12px;
}

/* TODO -- Do not delete for now
/*.posts-rows-top-content {
    display: flex;
    flex-direction: column;
    align-content: center;
}*/

.post-user-info-container {
    /* TODO -- Do not delete for now
    /*display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 50px;*/

    text-align: center;
    vertical-align: top;
    display: inline-block;
    width: 20%;
}

.posts-content-wrapper {
    vertical-align: top;
    display: inline-block;
    width: 79%;
}

.avatar-image-custom {
    border-radius: 50px;
    width: 100px;
    height: 100px
}

.posts-rows-main-container{ 
    margin: 30px;
}

.posts-border-divider {
    border-bottom: 1px solid #181818;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.posts-rows-bottom-content {
    display: flex;
    justify-content: space-between;
}

#create-post-modal > .modal-dialog {
    max-width: 1180px;
}

#edit-post-modal > .modal-dialog {
    max-width: 1180px;
}

.single-comment {
    display: flex;
    justify-content: space-between;
    font-size: 0.7rem;
    height: 20px;
}

.single-comment-left-side {
    display: flex;
    justify-content: flex-start;
    height: 20px;
}

.single-comment-text{
    padding-left: 5px;
    padding-right: 5px;
}

.single-comment-author {
    padding-left: 5px;
    padding-right: 5px;
}

.single-comment-date {
    padding-left: 5px;
    padding-right: 5px;
}

.post-comments-container {
    margin-top: 5px;
    width: 100%;
}

.post-comment-action-buttons{
    display: flex;
    justify-content: flex-end;
}

.search-by-content-input {
    width: 500px;
}

.sort-by-date-heading {
    min-width: 100px;
    margin-bottom: 0;
    margin-right: 10px;
}

.post-date-sort-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* THREADS BELOW */
#threads-ag-grid {
    height: 580px;
}

.threads-ag-grid-container-row {
    display: flex;
    justify-content: center;
    background: #0e0e0e;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 1140px;
}

.forum-threads-heading {
    text-align: center;
}

.thread-grid-text-info-name {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 200px;
    text-decoration: none;
    color: #fff !important;
}

.thread-grid-text-info-name:hover {
    color: #fff !important;
}

.thread-grid-text-info-description {
    font-style: italic;
}

.thread-grid-activity-title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 200px;
}

.thread-grid-activity-title-link {
    color: #fff !important;
}

.thread-grid-activity-title-link:hover {
    text-decoration: none;
    color: #fff !important;
}

.thread-grid-activity-date {
    font-style: italic;
}

.thread-grid-activity-outer-container {
    display: flex;
    justify-content: flex-end;
}

.icon-thread-grid-container {
    padding-right: 5px;
}

.threads-header-container {
    display: flex;
    justify-content: space-between;
}

.threads-grid-bottom-actions-outer-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}


/* CONVERSATIONS BELOW */
#show-conversation-modal > .modal-dialog, .modal-content {
    width: 1180px;
}

#show-conversation-modal > div > div > div.modal-body > div.centered-container > div {
    padding-bottom: 0;
    padding-top: 0;
}

#show-conversation-modal > .modal-dialog {
    display: flex;
    justify-content: center;
}

.conversations-social-container {
    padding-top: 0;
    padding-bottom: 0;
}

#conversations-ag-grid {
    min-height: 280px;
}

.conversations-ag-grid-container-row {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 740px;
}

.forum-conversations-heading {
    text-align: center;
}

.conversation-grid-text-info {
    display: flex;
    justify-content: center;
}

.conversation-grid-text-info-name {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 200px;
    text-decoration: none;
    color: #fff !important;
}

.conversation-grid-text-info-name:hover {
    color: #fff !important;
}

.conversation-grid-text-info-description {
    font-style: italic;
}

.conversation-grid-activity-title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 200px;
}

.conversation-grid-activity-title-link {
    color: #fff !important;
}

    .conversation-grid-activity-title-link:hover {
        text-decoration: none;
        color: #fff !important;
    }

.conversation-grid-activity-date {
    font-style: italic;
}

.conversation-grid-activity-outer-container {
    display: flex;
    justify-content: flex-end;
}

.icon-conversation-grid-container {
    padding-right: 5px;
}

.conversations-header-container {
    display: flex;
    justify-content: space-between;
}

.conversations-grid-bottom-actions-outer-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

/* MESSAGES BELOW */

.messages-ag-grid-container-row {
    display: flex;
    justify-content: center;
    background: #0e0e0e;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 1140px;
}

.forum-messages-heading {
    text-align: center;
}

.message-grid-text-info-name {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 200px;
    text-decoration: none;
    color: #fff !important;
}

    .message-grid-text-info-name:hover {
        color: #fff !important;
    }

.message-grid-text-info-description {
    font-style: italic;
}

.message-grid-activity-title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 200px;
}

.message-grid-activity-title-link {
    color: #fff !important;
}

.message-grid-activity-title-link:hover {
    text-decoration: none;
    color: #fff !important;
}

.message-grid-activity-date {
    font-style: italic;
}

.message-grid-activity-outer-container {
    display: flex;
    justify-content: flex-end;
}

.icon-message-grid-container {
    padding-right: 5px;
}

.messages-header-container {
    display: flex;
    justify-content: space-between;
}

.messages-grid-bottom-actions-outer-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

/* HOME INDEX */
.index-threads-ag-grid-container-row {  
    display: flex;
    justify-content: space-between;
}

.latest-activity-container {
    width: 600px;
}

/* USER BELOW */

#change-avatar-modal > .modal-dialog {
    display: flex;
    justify-content: center;
    max-width: 700px;
    height: 1100px;
}

#avatar-canvas {
    border: 1px solid black;
}

.avatar-cropper-buttons-holder{
    display: flex;
    justify-content: space-between;
}

#avatar-input{
    display: none;
}

.user-settings-holder{
    padding-top: 0 !important;
}

#new-message-text-area{
    width: 450px;
    border: solid 1px #333;
}

/* MANAGEMENT BELOW */

#show-management-modal > .modal-dialog, .modal-content {
    width: 1180px;
}

#show-management-modal > div > div > div.modal-body > div.centered-container > div {
    padding-bottom: 0;
    padding-top: 0;
}

#show-management-modal > .modal-dialog {
    display: flex;
    justify-content: center;
}

.managements-social-container {
    padding-top: 0;
    padding-bottom: 0;
}

#managements-ag-grid {
    min-height: 280px;
}

.managements-ag-grid-container-row {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 740px;
}

.forum-managements-heading {
    text-align: center;
}

.management-grid-text-info {
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.management-grid-text-info-name {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 200px;
    text-decoration: none;
    color: #fff !important;
}

.management-grid-text-info-name:hover {
    color: #fff !important;
}

.management-grid-text-info-description {
    font-style: italic;
}

.management-grid-activity-title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 200px;
}

.management-grid-activity-title-link {
    color: #fff !important;
}

.management-grid-activity-title-link:hover {
    text-decoration: none;
    color: #fff !important;
}

.management-grid-activity-date {
    font-style: italic;
}

.management-grid-activity-outer-container {
    display: flex;
    justify-content: flex-end;
}

.icon-management-grid-container {
    padding-right: 5px;
}

.managements-header-container {
    display: flex;
    justify-content: space-between;
}

.managements-grid-bottom-actions-outer-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
