﻿<partial name="../Shared/_HeaderTitleParalaxNoBreadcrumbs.cshtml" />

<!-- END: Header Title -->
<!-- START: Members -->
<div class="nk-gap-4"></div>
<div class="container">
    <div class="row lg-gap vertical-gap">
        <div class="col-lg-6">
            <div class="nk-team-member" data-mouse-parallax-z="5">
                <div class="nk-team-member-photo">
                    <a href="#"><img src="/images/team-member-1.jpg" alt=""></a>
                </div>
                <div class="nk-team-member-info">
                    <div data-mouse-parallax-z="2">
                        <h3 class="nk-title h2"><a href="#">Krasen Valkov</a></h3>
                        <div>Software Developer</div>
                    </div>
                </div>

            </div>
            <div class="about-us-description">
                <blockquote class="nk-blockquote">
                    <div class="nk-blockquote-icon">“</div>
                    <em>
                        Krasen has experience as a real engineer during his years building solutions for international clients.
                        He has traveled many countries and been in charge of large teams under his supervision. His philosophy in life is that 'Tough times never last, but tough people do'.
                    </em>                  
                </blockquote>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="about-us-description about-us-description-right">
                <blockquote class="nk-blockquote">
                    <div class="nk-blockquote-icon">“</div>
                    <em>
                        Anton has worked in environment including extreme amounts of finance and huge stress. He can deal with challanges and knows how to fine-tune his efforts.
                        His young attitude enables him to stay fresh in the face of upcoming new technologies.
                    </em>
                </blockquote>
            </div>
            <div class="nk-team-member nk-team-member-revert" data-mouse-parallax-z="5">
                <div class="nk-team-member-photo">
                    <a href="#"><img src="/images/team-member-2.jpg" alt=""></a>
                </div>
                <div class="nk-team-member-info nk-team-member-info-top">
                    <div data-mouse-parallax-z="2">
                        <h3 class="nk-title h2"><a href="#">Anton Staikov</a></h3>
                        <div>Software Developer</div>
                    </div>
                </div>
            </div>

        </div>       
    </div>
</div>
<div class="nk-gap-4"></div>
<div class="nk-gap-4"></div>