﻿@model GetHomeInitialPageStatisticsResponseModel

<div class="nk-header-title nk-header-title-lg nk-header-title-parallax nk-header-title-parallax-opacity">
    <div class="bg-image">
        <img src="/images/image-1.jpg" alt="" class="jarallax-img">
    </div>
    <div class="nk-header-table">
        <div class="nk-header-table-cell">
            <div class="container">
                <div class="nk-header-text">
                    <h1 class="nk-title display-3">Gamers Insight</h1>
                    <div class="nk-gap-2"></div>
                    <a href="https://gitlab.com/l33tc0d3rs/gamersinsight" target="_blank" class="nk-btn nk-btn-lg nk-btn-color-main-1 link-effect-4">
                        <span>Source Code</span>
                    </a> &nbsp;&nbsp;&nbsp;&nbsp;
                    <div class="nk-gap-4"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END: Header Title -->
<!-- START: Rev Slider -->
<div class="mnt-80">
    <div id="rev_slider_50_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="photography-carousel48" style="padding:0px;">
        <div id="rev_slider_50_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.0.7">
            <ul>
                <!-- SLIDE  -->
                <li data-index="rs-185" data-transition="slideoverhorizontal" data-slotamount="7" data-easein="default" data-easeout="default" data-masterspeed="1500" data-thumb="/images/gallery-3-thumb.jpg" data-rotate="0" data-saveperformance="off">
                    <!-- MAIN IMAGE -->
                    <img src="/images/gallery-3.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                </li>
                <!-- SLIDE  -->
                <li data-index="rs-192" data-transition="slideoververtical" data-slotamount="7" data-easein="default" data-easeout="default" data-masterspeed="1500" data-thumb="/images/gallery-5-thumb.jpg" data-rotate="0" data-saveperformance="off">
                    <!-- MAIN IMAGE -->
                    <img src="/images/gallery-5.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                </li>
                <!-- SLIDE  -->
                <li data-index="rs-186" data-transition="slideoverhorizontal" data-slotamount="7" data-easein="default" data-easeout="default" data-masterspeed="1500" data-thumb="/images/gallery-4-thumb.jpg" data-rotate="0" data-saveperformance="off">
                    <!-- MAIN IMAGE -->
                    <img src="/images/gallery-4.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                </li>
                <!-- SLIDE  -->
                <li data-index="rs-183" data-transition="slideoververtical" data-slotamount="7" data-easein="default" data-easeout="default" data-masterspeed="1500" data-thumb="/images/gallery-1-thumb.jpg" data-rotate="0" data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off">
                    <!-- MAIN IMAGE -->
                    <img src="/images/gallery-1.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                </li>
            </ul>
            <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
        </div>
    </div>
</div>
<!-- END: Rev Slider -->
<!-- START: Features -->
<div class="container">
    <div class="nk-gap-6"></div>
    <div class="nk-gap-2"></div>
    <div class="row vertical-gap lg-gap">
        <div class="col-md-4">
            <div class="nk-ibox">
                <div class="nk-ibox-icon nk-ibox-icon-circle">
                    <span class="ion-ios-game-controller-b"></span>
                </div>
                <div class="nk-ibox-cont">
                    <h2 class="nk-ibox-title">Incredible Content</h2> TinyMCE Editor is used to allow rich post content for the forum.
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="nk-ibox">
                <div class="nk-ibox-icon nk-ibox-icon-circle">
                    <span class="ion-fireball"></span>
                </div>
                <div class="nk-ibox-cont">
                    <h2 class="nk-ibox-title">Catchy Design</h2> Ajax-powered UI brings immersive experience to user, taking advantage of modern design.
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="nk-ibox">
                <div class="nk-ibox-icon nk-ibox-icon-circle">
                    <span class="ion-ribbon-a"></span>
                </div>
                <div class="nk-ibox-cont">
                    <h2 class="nk-ibox-title">Feature Rich</h2> You will find many capabilities and tweaks provoding ease of use for end-customer.
                </div>
            </div>
        </div>
    </div>
    <div class="nk-gap-2"></div>
    <div class="nk-gap-6"></div>
</div>
<!-- END: Features -->
<!-- START: About -->
<div class="nk-box bg-dark-1">
    <div class="container text-center">
        <div class="nk-gap-6"></div>
        <div class="nk-gap-2"></div>
        <h2 class="nk-title h1">About The Project</h2>
        <div class="nk-gap-3"></div>
        <p class="lead">
            Hard-worked quality assured top performing ASP.NET Web App. Using latest technologies, provding crucially optimized backend queries bring the persisted data into the beautiful UI for usage of end-users.
            Project includes industry-leading open-source AG Grid library for optimal dom-manipulation. All paging, sorting and filtering is done on server side. All queries are optimized into fewest possible round-trips.
            Authentication with Cookie provides security along the RESTful API backend exposed endpoints that give rich possibility for querying.
        </p>
        <div class="nk-gap-2"></div>
        <div class="row no-gutters">
            <div class="col-md-4">
                <div class="nk-box-2 nk-box-line">
                    <!-- START: Counter -->
                    <div class="nk-counter-3">
                        <div class="nk-count">@Model.TotalUsers</div>
                        <h3 class="nk-counter-title h4">Unique Users</h3>
                        <div class="nk-gap-1"></div>
                    </div>
                    <!-- END: Counter -->
                </div>
            </div>
            <div class="col-md-4">
                <div class="nk-box-2 nk-box-line">
                    <!-- START: Counter -->
                    <div class="nk-counter-3">
                        <div class="nk-count">@Model.TotalThreads</div>
                        <h3 class="nk-counter-title h4">Epic Threads</h3>
                        <div class="nk-gap-1"></div>
                    </div>
                    <!-- END: Counter -->
                </div>
            </div>
            <div class="col-md-4">
                <div class="nk-box-2 nk-box-line">
                    <!-- START: Counter -->
                    <div class="nk-counter-3">
                        <div class="nk-count">@Model.TotalPosts</div>
                        <h3 class="nk-counter-title h4">Forum Posts</h3>
                        <div class="nk-gap-1"></div>
                    </div>
                    <!-- END: Counter -->
                </div>
            </div>
        </div>
        <div class="nk-gap-2"></div>
        <div class="nk-gap-6"></div>
    </div>
</div>
<!-- END: About -->
<!-- START: Video -->
<div class="container">
    <div class="nk-gap-6"></div>

    <div class="nk-gap-6"></div>
</div>
<!-- END: Video -->
<!-- START: Coming Soon -->
<div class="nk-box bg-dark-1 text-center">
    <div class="nk-gap-6"></div>
    <div class="nk-gap-2"></div>
    <div class="bg-image op-3">
        <img src="/images/image-custom-3.jpg" alt="" class="jarallax-img">
    </div>
    <div class="container latest-activity-container">
        <h2 class="display-4">Latest Activity</h2>
        <div class="nk-gap"></div>
        <div>
            @if (User.Identity.IsAuthenticated)
            {
                @foreach (var thread in Model.Data)
                {
                    <div class="index-threads-ag-grid-container-row">
                        <div class="thread-grid-text-info nk-forum">
                            <div class="nk-forum-title">
                                <h4>
                                    <a class="thread-grid-text-info-name" href='/post/GetPostsGridView?threadId=@thread.Id'>
                                        @thread.Name
                                    </a>
                                </h4>
                            </div>
                        </div>
                        <div class="thread-grid-activity-outer-container right-flexed-items">
                            <div class="nk-forum-icon icon-thread-grid-container">
                                <span class="ion-chatboxes icon-thread-grid"></span>
                            </div>
                            <div class="thread-grid-activity">
                                <div class="thread-grid-activity-title">
                                    <span class="thread-grid-activity-title-link">
                                        @thread.LastActivePost.Title
                                    </span>
                                </div>
                                <div class="thread-grid-activity-date">
                                    @thread.LastActivePost.LastActivityTime
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                @foreach (var thread in Model.Data)
                {
                    <div class="index-threads-ag-grid-container-row">
                        <div class="thread-grid-text-info nk-forum">
                            <div class="nk-forum-title">
                                <h4>
                                    <p class="thread-grid-text-info-name" href='/post/GetPostsGridView?threadId=@thread.Id'>
                                        @thread.Name
                                    </p>
                                </h4>
                            </div>
                        </div>
                        <div class="thread-grid-activity-outer-container right-flexed-items">
                            <div class="nk-forum-icon icon-thread-grid-container">
                                <span class="ion-chatboxes icon-thread-grid"></span>
                            </div>
                            <div class="thread-grid-activity">
                                <div class="thread-grid-activity-title">
                                    <span class="thread-grid-activity-title-link">
                                        @thread.LastActivePost.Title
                                    </span>
                                </div>
                                <div class="thread-grid-activity-date">
                                    @thread.LastActivePost.LastActivityTime
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
        <div class="nk-gap-4"></div>
    </div>
    <div class="nk-gap-2"></div>
    <div class="nk-gap-6"></div>
</div>
<!-- END: Coming Soon -->
<!-- START: Testimonials -->
<div class="nk-gap-6"></div>
<div class="nk-gap-2"></div>
<div class="nk-carousel-2" data-autoplay="12000" data-dots="true">
    <div class="nk-carousel-inner">
        <div>
            <div>
                <blockquote class="nk-testimonial-2">
                    <div class="nk-testimonial-photo" style="background-image: url('/images/avatar-2-sm.png');"></div>
                    <div class="nk-testimonial-body">
                        <em>"Totally not a fake review just for demo purposes."</em>
                    </div>
                    <div class="nk-testimonial-name h4">Lesa Cruz</div>
                    <div class="nk-testimonial-source">Frontend Developer, Google</div>
                </blockquote>
            </div>
        </div>
        <div>
            <div>
                <blockquote class="nk-testimonial-2">
                    <div class="nk-testimonial-photo" style="background-image: url('/images/avatar-1-sm.png');"></div>
                    <div class="nk-testimonial-body">
                        <em>"I'm real. Trust me. But the website and project is good, indeed."</em>
                    </div>
                    <div class="nk-testimonial-name h4">Kurt Tucker</div>
                    <div class="nk-testimonial-source">CEO, Envato</div>
                </blockquote>
            </div>
        </div>
        <div>
            <div>
                <blockquote class="nk-testimonial-2">
                    <div class="nk-testimonial-photo" style="background-image: url('/images/avatar-2-sm.png');"></div>
                    <div class="nk-testimonial-body">
                        <em>"Just another bunch of demo spots here. Have you seen the cool forum?"</em>
                    </div>
                    <div class="nk-testimonial-name h4">Katie Anderson</div>
                    <div class="nk-testimonial-source">Product Designer, Apple</div>
                </blockquote>
            </div>
        </div>
        <div>
            <div>
                <blockquote class="nk-testimonial-2">
                    <div class="nk-testimonial-photo" style="background-image: url('/images/avatar-1-sm.png');"></div>
                    <div class="nk-testimonial-body">
                        <em>"Also, my totally real review can tell you to login with some of the demo users."</em>
                    </div>
                    <div class="nk-testimonial-name h4">Luke Fuller</div>
                    <div class="nk-testimonial-source">Copywriter, Dropbox</div>
                </blockquote>
            </div>
        </div>
        <div>
            <div>
                <blockquote class="nk-testimonial-2">
                    <div class="nk-testimonial-photo" style="background-image: url('/images/avatar-2-sm.png');"></div>
                    <div class="nk-testimonial-body">
                        <em>"Finally make sure to start conversations with totally real users that are registered here :)."</em>
                    </div>
                    <div class="nk-testimonial-name h4">Felicia Meyer</div>
                    <div class="nk-testimonial-source">Backend Developer, Twitter</div>
                </blockquote>
            </div>
        </div>
    </div>
</div>
<div class="nk-gap-2"></div>
<div class="nk-gap-6"></div>
<!-- END: Testimonials -->
<!-- START: Subscribe -->
<div class="nk-box bg-dark-1">
    <div class="nk-gap-6"></div>
    <div class="nk-gap-2"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
                <h2 class="nk-title text-center h1">Subscribe to our Newsletter</h2>
                <div class="nk-gap-3"></div>
                <!-- START: MailChimp Signup Form -->
                <form action="//nkdev.us11.list-manage.com/subscribe/post?u=d433160c0c43dcf8ecd52402f&amp;id=68d0448ee3" method="post" class="nk-mchimp validate" target="_blank">
                    <div class="input-group">
                        <input type="email" value="" name="EMAIL" class="required email form-control" placeholder="Email *">
                        <button class="nk-btn nk-btn-lg link-effect-4">Subscribe</button>
                    </div>
                    <div class="nk-form-response-success"></div>
                    <div class="nk-form-response-error"></div>
                    <small>We'll never share your email with anyone else.</small>
                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_d433160c0c43dcf8ecd52402f_68d0448ee3" tabindex="-1" value=""></div>
                </form>
                <!-- END: MailChimp Signup Form -->
            </div>
        </div>
    </div>
    <div class="nk-gap-2"></div>
    <div class="nk-gap-6"></div>
    <div class="nk-gap-4"></div>
</div>

@section Scripts {
    <script src="/js/homeIndexScripts.js"></script>
}