﻿<div class="centered-container">
    <div class="inner-centered-container">
        <div class="messages-header-container">
            <div class="nk-pagination nk-pagination-left">
                <a href="#" id="top-messages-grid-first-page-button" class="messages-grid-fist-page-button nk-pagination-prev disabled">
                    <span class="nk-icon-arrow-left"></span>
                </a>
                <nav id="top-messages-grid-pages-container" class="messages-grid-pages-container">
                </nav>
                <a href="#" button id="top-messages-grid-last-page-button" class="messages-grid-last-page-button nk-pagination-next">
                    <span class="nk-icon-arrow-right"></span>
                </a>
            </div>
            <h2 class="forum-messages-heading">Messages</h2>
        </div>
        <div class="messages-ag-grid-container-row messages-ag-grid-container-col">
            <div id="messages-ag-grid" class="nk-forum container" style="width: 900px;"></div>
        </div>
        <div class="messages-grid-bottom-actions-outer-container">
            <div class="nk-pagination nk-pagination-left">
                <a href="#" id="bottom-messages-grid-first-page-button" class="messages-grid-fist-page-button nk-pagination-prev disabled">
                    <span class="nk-icon-arrow-left"></span>
                </a>
                <nav id="bottom-messages-grid-pages-container" class="messages-grid-pages-container">
                </nav>
                <a href="#" button id="bottom-messages-grid-last-page-button" class="messages-grid-last-page-button nk-pagination-next">
                    <span class="nk-icon-arrow-right"></span>
                </a>
            </div>
            <div class="new-message-text-area-container">
                <textarea id="new-message-text-area" class="form-control required"></textarea>
            </div>
            <div class="new-message-button-container">
                <button class="new-message-button nk-btn nk-btn-lg link-effect-4" id="send-message-button">Send Message</button>
            </div>
        </div>
    </div>
</div>

<div id="edit-message-modal" class="modal nk-modal fade" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog custom-modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title nk-title" id="editModalLabel">Edit message</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="ion-android-close"></span>
                </button>
            </div>
            <div class="modal-body">
                <form id="edit-message-form" class="nk-form nk-form-ajax">
                    <input type="text" class="form-control required" id="edit-message-name-input" name="messageName" placeholder="message Name *">
                    <div class="nk-gap"></div>
                    <input type="text" class="form-control required" id="edit-message-description-input" name="messageDescription" placeholder="message Description *">
                    <div class="nk-gap"></div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="edit-message-isnsfw-checkbox" name="isNsfw">
                        <label class="custom-control-label" for="edit-message-isnsfw-checkbox">Should this message be marked as NSFW?</label>
                    </div>
                    <input type="hidden" id="edit-message-id-input" />
                    <div class="nk-gap"></div>
                    <div class="nk-form-response-success"></div>
                    <div class="nk-form-response-error"></div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="nk-btn" data-dismiss="modal">Close</button>
                <button type="button" id="update-message-button" class="nk-btn nk-btn-color-main-1">Edit Message</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>